<!DOCTYPE html>
<html>
<head>
    <title> ToDo Lists </title>
    <link href="{{ STATIC_URL }}css/base.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    {% block extracss %} {% endblock %}
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script> 
</head>
<body>
    <div class='header'>
        <img src='{{ STATIC_URL }}img/logo.png' />
    </div>

    {% block bodyblock %} {% endblock %}

    <!-- <div class='footer'>
        <p>CopyRights Reserved</p> 
    </div> -->

    {% block scripts %} {% endblock %}

</body>
</html>
