{% extends "base.html" %}

{% block extracss %}
<link href="{{ STATIC_URL }}css/lists.css" rel="stylesheet" type="text/css">
<style>
i.fa{
    cursor: pointer;
}
</style>
{% endblock %}

{% block bodyblock %}

<div class='container'>
    <div id="new-data" >
        <div class='top-holder'>
            <button class="float-left" id="add-task"> Add task </button>
            <select class="tasks-select float-right">
                <option value="all">All tasks</option>
                <option value="incomplete">Incomplete tasks</option>
            </select>
        </div>
        <form id="new-task-form" class="invisible" method="POST" url="{% url save_new_form %}">
            {% csrf_token %}
            {{ form.text }}
        </form>
    </div>

    <ul class="tasks-container">

        {% for i in tasks %}
        <li>
            <div class='row-container' task="{{ i.id }}">
                <input class="task-check"
                {% if i.completed %}
                    checked
                {% endif %}
                type="checkbox" task="{{ i.id }}"/>
                <textarea
                {% if i.completed %}
                        disabled
                    {% endif %}
                class="task
                    {% if i.completed %}
                        completed
                    {% endif %}
                " wrap="off" rows="1" task="{{ i.id }}"
                    url="{% url update_task %}">{{ i.text }}</textarea>
                <i class="fa fa-trash" url="{% url delete_task %}"></i>
            </div>
        </li>
        {% endfor %}

    </ul>
</div>

{% endblock %}

{% block scripts %}

<script src="{{ STATIC_URL }}js/lists.js">
</script>

{% endblock %}